@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@font-face {
  font-family: "Micra";
  src: url("../fonts/Micra.eot");
  src: url("../fonts/Micra.eot") format("embedded-opentype"), url("../fonts/Micra.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Micra";
  src: url("../fonts/Micra-Bold.eot");
  src: url("../fonts/Micra-Bold.eot") format("embedded-opentype"), url("../fonts/Micra-Bold.woff") format("woff");
  font-weight: 700;
}
html {
  font-size: 16px;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Unbounded", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.button {
  display: inline-block;
  padding: 21px 40px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: url(../assets/button-bg.jpg) center no-repeat;
  background-size: cover;
  background-color: #2284ea;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__logo-link {
  font-family: "Micra", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #2284ea;
}
.header__nav {
  display: flex;
  gap: 50px;
}
@media (max-width: 992px) {
  .header__nav {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #363636;
}
.header__login-button {
  padding: 21px 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2284ea;
  border: 2px solid #2284ea;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  .header__login-button {
    padding: 15px 30px;
  }
}

.create-bot {
  overflow: hidden;
}
.create-bot .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 190px;
  padding-bottom: 130px;
}
@media (max-width: 992px) {
  .create-bot .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .create-bot .container {
    padding-top: 92px;
    padding-bottom: 0;
  }
}
.create-bot__info {
  position: relative;
  z-index: 2;
  max-width: 484px;
}
@media (max-width: 1200px) {
  .create-bot__info {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .create-bot__info {
    max-width: none;
  }
}
.create-bot__info-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 46px;
  line-height: 135%;
  color: #363636;
}
@media (max-width: 1200px) {
  .create-bot__info-title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .create-bot__info-title {
    font-size: 27px;
    line-height: 130%;
  }
}
.create-bot__info-description {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #606060;
}
@media (max-width: 768px) {
  .create-bot__info-description {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .create-bot__info-description {
    font-size: 12px;
    line-height: 183%;
  }
}
@media (max-width: 768px) {
  .create-bot__info-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
.create-bot__advantages {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 768px) {
  .create-bot__advantages {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.create-bot__advantage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .create-bot__advantage {
    order: 0;
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .create-bot__advantage_image {
    order: 1;
  }
}
.create-bot__advantage-image {
  display: inline-block;
  max-width: 163px;
  height: auto;
}
@media (max-width: 768px) {
  .create-bot__advantage-image {
    max-width: 125px;
  }
}
.create-bot__advantage-image_bot {
  max-width: 56px;
}
.create-bot__advantage-main {
  font-weight: 500;
  font-size: 38px;
  line-height: 118%;
  color: #363636;
}
@media (max-width: 768px) {
  .create-bot__advantage-main {
    font-size: 27px;
    line-height: 130%;
  }
}
.create-bot__advantage-text {
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: #606060;
}
.create-bot__figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 992px) {
  .create-bot__figure {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin: 0 -10px;
  }
}
.create-bot__figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  background-color: #cee3ff;
  transform: translateX(calc(-50% + 110px)) translateY(calc(-50% + 60px));
  filter: blur(100px);
}
@media (max-width: 1200px) {
  .create-bot__figure::after {
    transform: translateX(calc(-50% + 70px)) translateY(calc(-50% + 50px));
  }
}
@media (max-width: 992px) {
  .create-bot__figure::after {
    transform: translateX(calc(-50% + 10px)) translateY(calc(-50% - 30px));
  }
}
@media (max-width: 768px) {
  .create-bot__figure::after {
    width: 400px;
    height: 400px;
    filter: blur(50px);
  }
}
@media (max-width: 576px) {
  .create-bot__figure::after {
    transform: translateX(calc(-50% + 10px)) translateY(calc(-50% + 50px));
  }
}
.create-bot__figure-image {
  position: absolute;
  left: 50%;
  bottom: -80px;
  z-index: 2;
  max-width: 100%;
  transform: translateX(calc(-50% + 190px));
}
@media (max-width: 1200px) {
  .create-bot__figure-image {
    transform: translateX(calc(-50% + 150px));
  }
}
@media (max-width: 992px) {
  .create-bot__figure-image {
    position: relative;
    left: auto;
    bottom: auto;
    transform: translateX(60px);
  }
}
@media (max-width: 768px) {
  .create-bot__figure-image {
    max-height: 498px;
  }
}