@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@font-face {
  font-family: "Micra";
  src: url("../fonts/Micra.eot");
  src: url("../fonts/Micra.eot") format("embedded-opentype"), url("../fonts/Micra.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Micra";
  src: url("../fonts/Micra-Bold.eot");
  src: url("../fonts/Micra-Bold.eot") format("embedded-opentype"), url("../fonts/Micra-Bold.woff") format("woff");
  font-weight: 700;
}
html {
  font-size: 16px;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  body.hidden {
    overflow: hidden;
  }
}

a,
button,
input,
textarea {
  font-family: "Unbounded", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.button {
  display: inline-block;
  padding: 21px 40px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: url(../assets/button-bg.jpg) center no-repeat;
  background-size: cover;
  background-color: #2284ea;
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.04);
}
.button:active {
  transform: scale(1);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 10px 0;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .header.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(24, 29, 66, 0.5);
    z-index: 200;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__logo {
  flex: 0 0 auto;
}
.header__logo-link {
  font-family: "Micra", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #2284ea;
}
@media (max-width: 992px) {
  .header.active .header__nav {
    transform: translateX(0);
  }
}
@media (max-width: 992px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 500;
    flex-direction: column;
    gap: 16px;
    max-width: 360px;
    width: 100%;
    padding: 24px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateX(-800px);
    transition: transform ease-in-out 0.3s;
    will-change: transform;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .header__nav {
    padding: 16px 20px;
  }
}
.header__nav-top {
  display: none;
}
@media (max-width: 992px) {
  .header__nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 36px;
  }
}
.header__nav-close {
  display: inline-block;
  height: 36px;
  width: 36px;
  border: none;
  background: url(../assets/close.svg) center no-repeat;
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
.header__nav-close:hover {
  transform: scale(1.04);
}
.header__nav-close:active {
  transform: scale(1);
}
.header__nav-menu {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .header__nav-menu {
    flex-direction: column;
    gap: 8px;
    max-height: calc(100vh - 110px);
    padding-right: 8px;
    overflow: auto;
  }
}
.header__nav-menu::-webkit-scrollbar {
  width: 4px;
}
.header__nav-menu::-webkit-scrollbar-track {
  background: rgba(34, 132, 234, 0.2);
}
.header__nav-menu::-webkit-scrollbar-thumb {
  background: #2284ea;
  border-radius: 4px;
}
.header__nav-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 992px) {
  .header__nav-menu-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__nav-menu-item:has(.header__nav-submenu)::after {
  content: "";
  display: inline-block;
  height: 7px;
  width: 12px;
  background: url(../assets/arrow.svg) center no-repeat;
  background-size: 12px;
  transition: transform ease-in-out 0.12s, filter ease-in-out 0.12s;
  will-change: transform, filter;
  filter: brightness(0.2);
}
@media (max-width: 992px) {
  .header__nav-menu-item:has(.header__nav-submenu)::after {
    display: none;
  }
}
.header__nav-menu-item:has(.header__nav-submenu):hover::after {
  transform: rotate(180deg);
  filter: brightness(1);
}
.header__nav-menu-item:hover > .header__nav-menu-item-link {
  color: #2284ea;
}
@media (max-width: 992px) {
  .header__nav-menu-item:hover > .header__nav-menu-item-link {
    color: #363636;
  }
}
.header__nav-menu-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #363636;
  transition: color ease-in-out 0.2s;
  will-change: color;
  cursor: pointer;
}
.header__nav-menu-item-link:hover {
  color: #2284ea !important;
}
.header__nav-menu-item:hover > .header__nav-submenu {
  display: flex;
}
.header__nav-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  min-width: 120px;
  width: -moz-max-content;
  width: max-content;
  gap: 8px;
  margin: 0;
  padding: 16px 12px;
  border-radius: 16px;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
  .header__nav-submenu {
    position: static;
    display: flex;
    padding: 0;
    padding-left: 20px;
    box-shadow: none;
  }
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__buttons-login {
  padding: 21px 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2284ea;
  border: 2px solid #2284ea;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  .header__buttons-login {
    padding: 14px 26px;
  }
}
.header__buttons-burger {
  display: inline-block;
  height: 36px;
  width: 36px;
  border: none;
  background: url(../assets/burger.svg) center no-repeat;
  transition: transform ease-in-out 0.12s;
  will-change: transform;
  cursor: pointer;
}
.header__buttons-burger:hover {
  transform: scale(1.04);
}
.header__buttons-burger:active {
  transform: scale(1);
}

.footer {
  padding: 60px 0 36px;
}
@media (max-width: 768px) {
  .footer {
    padding: 25px 0 20px;
  }
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 992px) {
  .footer .container {
    flex-wrap: wrap;
  }
}
.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #606060;
}
@media (max-width: 992px) {
  .footer__link {
    flex: 0 0 calc(50% - 5px);
  }
}
@media (max-width: 576px) {
  .footer__link {
    flex: 1 1 100%;
  }
}

.create-bot {
  overflow: hidden;
}
.create-bot .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 190px;
  padding-bottom: 130px;
}
@media (max-width: 992px) {
  .create-bot .container {
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 0;
  }
}
.create-bot__info {
  position: relative;
  z-index: 2;
  max-width: 484px;
}
@media (max-width: 1200px) {
  .create-bot__info {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .create-bot__info {
    max-width: none;
  }
}
.create-bot__info-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 46px;
  line-height: 135%;
  color: #363636;
}
@media (max-width: 1200px) {
  .create-bot__info-title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .create-bot__info-title {
    font-size: 27px;
    line-height: 130%;
  }
}
.create-bot__info-description {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #606060;
}
@media (max-width: 768px) {
  .create-bot__info-description {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .create-bot__info-description {
    font-size: 12px;
    line-height: 183%;
  }
}
@media (max-width: 768px) {
  .create-bot__info-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
.create-bot__advantages {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 768px) {
  .create-bot__advantages {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.create-bot__advantage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .create-bot__advantage {
    order: 0;
    flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .create-bot__advantage_image {
    order: 1;
  }
}
.create-bot__advantage-image {
  display: inline-block;
  max-width: 163px;
  height: auto;
}
@media (max-width: 768px) {
  .create-bot__advantage-image {
    max-width: 125px;
  }
}
.create-bot__advantage-image_bot {
  max-width: 56px;
}
.create-bot__advantage-main {
  font-weight: 500;
  font-size: 38px;
  line-height: 118%;
  color: #363636;
}
@media (max-width: 768px) {
  .create-bot__advantage-main {
    font-size: 27px;
    line-height: 130%;
  }
}
.create-bot__advantage-text {
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: #606060;
}
.create-bot__figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 992px) {
  .create-bot__figure {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin: 0 -10px;
  }
}
.create-bot__figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  background-color: #cee3ff;
  transform: translateX(calc(-50% + 110px)) translateY(calc(-50% + 60px));
  filter: blur(100px);
}
@media (max-width: 1200px) {
  .create-bot__figure::after {
    transform: translateX(calc(-50% + 70px)) translateY(calc(-50% + 50px));
  }
}
@media (max-width: 992px) {
  .create-bot__figure::after {
    transform: translateX(calc(-50% + 10px)) translateY(calc(-50% - 30px));
  }
}
@media (max-width: 768px) {
  .create-bot__figure::after {
    width: 400px;
    height: 400px;
    filter: blur(50px);
  }
}
@media (max-width: 576px) {
  .create-bot__figure::after {
    transform: translateX(calc(-50% + 10px)) translateY(calc(-50% + 50px));
  }
}
.create-bot__figure-image {
  position: absolute;
  left: 50%;
  bottom: -80px;
  z-index: 2;
  max-width: 100%;
  transform: translateX(calc(-50% + 190px));
}
@media (max-width: 1200px) {
  .create-bot__figure-image {
    transform: translateX(calc(-50% + 150px));
  }
}
@media (max-width: 992px) {
  .create-bot__figure-image {
    position: relative;
    left: auto;
    bottom: auto;
    transform: translateX(60px);
  }
}
@media (max-width: 768px) {
  .create-bot__figure-image {
    max-height: 498px;
  }
}

.constructor {
  padding: 100px 0 50px;
}
@media (max-width: 992px) {
  .constructor {
    position: relative;
    z-index: 5;
    margin: -20px 0 0;
    padding: 50px 0;
    border-radius: 30px;
    box-shadow: 0 -26px 54px 0 rgba(0, 41, 255, 0.03);
    background-color: #fff;
  }
}
@media (max-width: 768px) {
  .constructor {
    padding: 50px 0 25px;
  }
}
@media (max-width: 576px) {
  .constructor {
    padding: 20px 0 25px;
  }
}
.constructor__info {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 0 50px;
}
@media (max-width: 992px) {
  .constructor__info {
    display: block;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
.constructor__info-title {
  flex: 0 0 588px;
  margin: 0;
  font-weight: 500;
  font-size: 38px;
  line-height: 118%;
  color: #363636;
}
@media (max-width: 1200px) {
  .constructor__info-title {
    flex: 0 0 480px;
    font-size: 34px;
  }
}
@media (max-width: 992px) {
  .constructor__info-title {
    margin: 0 0 10px;
  }
}
@media (max-width: 768px) {
  .constructor__info-title {
    font-size: 20px;
  }
}
.constructor__info-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #606060;
}
@media (max-width: 768px) {
  .constructor__info-description {
    font-size: 12px;
  }
}
.constructor__advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 992px) {
  .constructor__advantages {
    gap: 10px;
  }
}
.constructor__advantage {
  flex: 0 0 calc(33.3333333333% - 16px);
  padding: 30px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .constructor__advantage {
    flex: 0 0 calc(50% - 12px);
    padding: 20px;
  }
}
@media (max-width: 992px) {
  .constructor__advantage {
    flex: 0 0 calc(50% - 5px);
  }
}
@media (max-width: 768px) {
  .constructor__advantage {
    flex: 0 0 100%;
  }
}
.constructor__advantage-figure {
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .constructor__advantage-figure {
    margin: 0 0 20px;
  }
}
.constructor__advantage-figure-image {
  display: block;
  max-width: 80px;
  height: auto;
}
@media (max-width: 768px) {
  .constructor__advantage-figure-image {
    max-width: 60px;
  }
}
.constructor__advantage-title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #363636;
}
@media (max-width: 768px) {
  .constructor__advantage-title {
    font-size: 18px;
    line-height: 156%;
  }
}
.constructor__advantage-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #606060;
}
@media (max-width: 768px) {
  .constructor__advantage-text {
    font-size: 12px;
    line-height: 183%;
  }
}
.constructor__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 74px 0 0;
}
@media (max-width: 768px) {
  .constructor__buttons {
    margin-top: 20px;
  }
}
.constructor__buttons-youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background: none;
  background-color: #ea2222;
}
@media (max-width: 768px) {
  .constructor__buttons-youtube {
    width: 100%;
  }
}
.constructor__buttons-youtube::after {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: url(../assets/youtube.svg) center no-repeat;
  background-size: 24px;
}

.contact-us {
  padding: 50px 0 40px;
}
@media (max-width: 768px) {
  .contact-us {
    padding: 25px 0 20px;
  }
}
.contact-us__title {
  max-width: 680px;
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 38px;
  line-height: 118%;
  color: #363636;
}
@media (max-width: 992px) {
  .contact-us__title {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .contact-us__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 130%;
  }
}
.contact-us__description {
  max-width: 680px;
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #606060;
}
@media (max-width: 992px) {
  .contact-us__description {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .contact-us__description {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 183%;
  }
}
.contact-us__wrapper {
  position: relative;
  padding: 50px;
  border-radius: 50px;
  background: url(../assets/button-bg.jpg) center no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .contact-us__wrapper {
    padding: 20px;
    border-radius: 20px;
  }
}
.contact-us__wrapper-main {
  max-width: 550px;
}
@media (max-width: 1200px) {
  .contact-us__wrapper-main {
    max-width: 520px;
  }
}
@media (max-width: 992px) {
  .contact-us__wrapper-main {
    max-width: none;
  }
}
.contact-us__wrapper-title {
  margin: 0 0 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.contact-us__wrapper-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 30px;
}
@media (max-width: 768px) {
  .contact-us__wrapper-links {
    flex-wrap: wrap;
  }
}
.contact-us__wrapper-links-item {
  flex: 0 0 calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 21px;
  box-sizing: border-box;
  border: 2px solid #fff;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  .contact-us__wrapper-links-item {
    flex: 1 1 100%;
  }
}
.contact-us__wrapper-links-item::after {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: url(../assets/tg.svg) center no-repeat;
  background-size: 24px;
  filter: brightness(2);
}
.contact-us__wrapper-form {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .contact-us__wrapper-form {
    flex-wrap: wrap;
  }
}
.contact-us__wrapper-form-input, .contact-us__wrapper-form-button {
  flex: 0 0 calc(50% - 10px);
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .contact-us__wrapper-form-input, .contact-us__wrapper-form-button {
    flex: 1 1 100%;
  }
}
.contact-us__wrapper-form-input {
  width: 100%;
  padding-left: 51px;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  border: none;
  background: url(../assets/tg.svg) left 20px center no-repeat;
  background-size: 24px;
  background-color: #ffffff;
}
.contact-us__wrapper-form-input::-moz-placeholder {
  color: #c0c2d8;
}
.contact-us__wrapper-form-input::placeholder {
  color: #c0c2d8;
}
.contact-us__wrapper-form-button {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.1);
}
.contact-us__wrapper-figure {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 992px) {
  .contact-us__wrapper-figure {
    position: static;
    width: calc(100% + 40px);
    margin: 20px -20px -20px;
    overflow: hidden;
    border-bottom-right-radius: 20px;
  }
}
.contact-us__wrapper-figure-image {
  display: block;
  max-width: 622px;
  border-bottom-right-radius: 50px;
}
@media (max-width: 1200px) {
  .contact-us__wrapper-figure-image {
    max-width: 470px;
  }
}
@media (max-width: 992px) {
  .contact-us__wrapper-figure-image {
    margin: 0 auto;
    max-width: 100%;
    border-bottom-right-radius: 0;
  }
}