.footer {
  padding: 60px 0 36px;

  @include tablet {
    padding: 25px 0 20px;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include laptop {
      flex-wrap: wrap;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #606060;

    @include laptop {
      flex: 0 0 calc(50% - 5px);
    }

    @include mobile {
      flex: 1 1 100%;
    }
  }
}
