.button {
  display: inline-block;
  padding: 21px 40px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: url(../assets/button-bg.jpg) center no-repeat;
  background-size: cover;
  background-color: #2284ea;
  cursor: pointer;
}
